David Woodhouse <dwmw2@infradead.org> <david.woodhouse@intel.com>
Nikos Mavrogiannopoulos <n.mavrogiannopoulos@gmail.com> <nmav@gnutls.org>
Nikos Mavrogiannopoulos <n.mavrogiannopoulos@gmail.com> <nmav@redhat.com>
Daniel Lenski <dlenski@gmail.com> Dan Lenski
Fengguang Wu <fengguang.wu@intel.com>
Ľubomír Carik <Lubomir.Carik@gmail.com> # Normalisation of the Ľ varies too.
Ľubomír Carik <Lubomir.Carik@gmail.com> <lubomir.carik@gmail.com>
